:root {
    --button: rgb(37, 119, 167);
    --accent: #00d2ff;
    --accent2: #ff4901;
    --accent2-alpha-70: rgba(255, 73, 1, 0.7);
    --accent-alpha-70: rgba(35, 174, 255, .70);
    --accent-alpha-20: rgba(35, 176, 255, 0.2);
    --background: #192734;
    --color: rgb(236, 233, 233);
    --border-color: rgba(255, 255, 255, .1)
}