@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Ubuntu:wght@300;700&family=Work+Sans:wght@300;700');
@import url('https://cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack-subset.css');
html {
    box-sizing: border-box
}

*,
*:before,
*:after {
    box-sizing: inherit
}

body {
    text-align: left;
    margin: 40px auto;
    max-width: 672px;
    padding: 0 16px;
    line-height: 1.6;
    font-family: 'Work Sans', Ubuntu, Hack, 'Open Sans', 'Comic Sans MS';
    font-size: 18px;
    background-color: var(--background);
    color: var(--color);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-overflow-scrolling: touch;
    -webkit-text-size-adjust: 100%
}

@media only screen and (max-width: 768px) {
    body {
        font-size: 16px;
    }
}

.header {
    margin-top: 10px;
}

.header .menu {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
}

.menu li.active {
    color: var(--accent)
}

.menu li {
    margin-right: 20px;
    margin-bottom: 10px;
}

.card {
    display: flex;
    backface-visibility: hidden
}

.card-inner {
    transition: transform 1s ease-out, top 1s ease-out;
    transform-origin: top;
    perspective: 100vw;
    transform-style: preserve-3d;
}

.card-inner.flipped {
    transform: rotateY( -180deg);
}

.front {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transform: rotateY( 0deg);
}

.back {
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transform: rotateY( -180deg);
}

.video {
    opacity: 0.99;
    padding-top: 20px;
    right: -15%;
}

.youtube {
    width: 768px;
    height: 432px;
}

@media only screen and (max-width: 768px) {
    .youtube {
        width: auto;
        height: auto;
    }
    .video {
        padding-top: 20px;
        right: 10px;
    }
}

.post {
    margin: 30px auto;
}

.post-title {
    --border: 2px dashed var(--accent);
    position: relative;
    color: var(--accent);
    border-bottom: var(--border);
    font-weight: normal
}

.post-content {
    margin-top: 24px;
}

.post ul {
    list-style: none
}

.post ul li:before {
    content: '►';
    position: absolute;
    left: -20px;
    color: var(--accent)
}

a {
    color: inherit;
    cursor: pointer;
    text-decoration: underline;
}

p {
    margin-top: 0px
}

ul {
    padding: 0;
}

hr {
    width: 100%;
    border: none;
    background: var(--border-color);
    height: 1px
}

.footer {
    border-top: 1px solid var(--border-color);
    padding-top: 20px
}

.footer span {
    font-size: 16px;
    opacity: .5;
}

img {
    display: block;
    max-width: 100%;
    margin: 25px 0;
}

img.left {
    margin-right: auto
}

img.center {
    margin-left: auto;
    margin-right: auto
}

img.right {
    margin-left: auto
}

.download-link {
    position: relative;
    left: -10px;
    padding: 5px 10px;
    color: var(--accent);
    border-radius: 45px;
}

.download-link:hover {
    color: var(--background);
    background-color: var(--color);
}